* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    position: relative;
    width: 240px;
    height: 208px;
    transform: scale(4); 
}

/* Characters */

.grid-cell {
    position: absolute;
    width: 8px;
    height: 8px;
}

.Character{
    transition: transform 0.4s;
}

.Character_sprite{
    overflow: hidden;
    top: -3px;
    background: #00ff00;
}

.Character_name-container{
    position: absolute;
    top: -10px;
    left: -9px;
    font-size: 4px;
    padding: 1px 2px 1px;
    border-radius: 3px;
    background: #333;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

/* Enemies */

.Enemy_sprite_up {
    overflow: hidden;
    top: -3px;
    background: url('./sprites/blue_tank_up.png') no-repeat;
    background-size: contain;
}

.Enemy_sprite_down {
    overflow: hidden;
    top: -3px;
    background: url('./sprites/blue_tank_down.png') no-repeat;
    background-size: contain;
}

.Enemy_sprite_left {
    overflow: hidden;
    top: -3px;
    background: url('./sprites/blue_tank_left.png') no-repeat;
    background-size: contain;
}

.Enemy_sprite_right {
    overflow: hidden;
    top: -3px;
    background: url('./sprites/blue_tank_right.png') no-repeat;
    background-size: contain;
}

/* Bullets */

.Bullet_sprite {
    overflow: hidden;
    top: -3px;
    background: black;
}

/* Tiles */
.Grass_sprite{
    overflow: hidden;
    background: url('./sprites/grass.png');
    height: 208px;
    width: 240px;
}

.Wall_sprite{
    overflow: hidden;
    background: url('./sprites/wall.png') no-repeat;
    background-size: contain;
}